
<main class="capacitadores">

  <section class="capacitadores__title">
    <h2 class="capacitadores__title__h2">Agregar Capacitador</h2>
    <figure class="capacitadores__title__figure">
      <img class="capacitadores__title__figure__img" src="../../../../assets/logo.png" alt="logoActualizaTEC">
    </figure>
  </section>


  <form class="capacitadores__form">
    <div class="capacitadores__form__container">
      <div class="capacitadores__form__container__group">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <label for="identificación">Identificación</label>
        <input id="identificación" type="text">
      </div>
    </div>
    <div class="capacitadores__form__container">
      <div class="capacitadores__form__container__group">
        <label for="dirección">Dirección</label>
        <input id="dirección" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <label for="correo">Correo Electronico</label>
        <input id="correo" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <label for="carrera">Carrera</label>
        <input id="carrera" type="text">
      </div>
    </div>
    <div class="capacitadores__form__container">
      <div class="capacitadores__form__container__group">
        <label for="telefono">Telefono</label>
        <input id="telefono" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <label for="nacimiento">Fecha de Nacimiento</label>
        <input id="nacimiento" type="text">
      </div>
      <div class="capacitadores__form__container__group">
        <button class="capacitadores__form__container__group__button">Confirmar</button>
      </div>
    </div>
  </form>

</main>
