
.login{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  background: #fff;
  border-radius: 30px;
  box-shadow:
  0.9px 2px 2.5px rgba(0, 0, 0, 0.033),
  2.2px 5px 6.4px rgba(0, 0, 0, 0.044),
  4.4px 10.1px 13.1px rgba(0, 0, 0, 0.051),
  9.1px 20.8px 27px rgba(0, 0, 0, 0.058),
  25px 57px 74px rgba(0, 0, 0, 0.08)
;
}

.login__title{
  display: inline;
  color: #D9006C;
  margin: 0 auto;
  padding: 10px ;
  font-weight: 400;
}

.login__figure{
  padding: 30px 0;
  margin: 0 auto;
}

.login__logo{
  height: 3.5rem;
}



.login__inputs{
  margin: 0 auto;
  width: 80%;
}


.login__inputs>input{
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #D9006C;
  outline: none;
}

.login__inputs>label{
  display: flex;
  margin-top: 20px;
  align-items: center;
  color: #33265e;
}

.material-symbols-outlined{
  color:#33265e;
  justify-content: center;
  margin-right: 1rem;
}


.login__ref{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}

.login__ref__a{
  text-decoration: none;
  color: #000;
  opacity: 0.8  ;
  font-size: 0.8rem;
}


.login__ref__a:hover{
  opacity: 1;
  text-decoration: underline;
}


.login__ref__button{
  padding: 13px 40px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background: #D9006C;
  font-size: 1rem;
  transition: ease-in 0.4s;
  cursor: pointer;
}


.login__ref__button:hover{
  background-color: #33265e;
}


.login__social{
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}

.login__social__btn{
  display: inline-flex;
  width: 35%;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  border: 1px solid #D9006C;
  border-radius: 5px;
  background: #fff;
  color: #D9006C;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #D9006C;
  transition: ease-out 0.4s;
}

.login__social__btn:hover,
.login__social__btn:focus{
  background: #D9006C;
  color: #fff;
  box-shadow: inset 400px 0 0 0 #D9006C;
}

.login__social__btn .ionicon{
  fill: #D9006C;
  height: 25px;
  margin-right: 10px;
  transition: ease-out 0.4s;
}

.login__social__btn:hover .ionicon,
.login__social__btn:focus .ionicon{
  fill: #fff;
}


.login__register{
  display: flex;
  width: 80%;
  margin: 0 auto;
}

.login__register__a{
  display: inline-block;
  position: relative;
  margin: 15px auto;
  text-decoration: none;
  color: #33265e;
  overflow: hidden;
  transition: linear 0.4s;
}


.login__register__a:hover{
  color: #D9006C;
}



