
<div class="login">

  <h1 class="login__title">Bienvenido/a</h1>

  <figure class="login__figure">
    <img class="login__logo" src="./../../../../assets/logo.png" alt="ActualizaTEC">
  </figure>

  <form class="login__form">

    <div class="login__inputs">
      <label class="login__label" for="email">
        <span class="material-symbols-outlined">account_circle</span>
        Usuario o Correo</label>
      <input id="email" class="login__input" type="email" placeholder=" ">

      <label class="login__label" for="password">
        <span class="material-symbols-outlined">lock</span>
        Contraseña</label>
      <input id="password" class="login__input" type="password" placeholder=" ">
    </div>

    <div class="login__ref">
      <a   class="login__ref__a">¿Has olvidado tu contraseña?</a>
      <button class="login__ref__button" type="button" [routerLink]="'/admin/inicio'">Iniciar Sesión</button>
    </div>

    <div class="login__register">
      <a [routerLink] = "['/auth/register']" class="login__register__a">¿Aun no tienes una cuenta?</a>
    </div>


  </form>

</div>
