<div class="header__admin">

  <section class="header__add">
    <button class="header__add__button" (click)="openDialog()"><i class="material-symbols-outlined">add_circle</i>Area de Conocimiento</button>
  </section>

  <section class="header__buttons">
    <span class="material-symbols-outlined">notifications</span>
    <figure class="header__buttons__figure">
      <img class="header__buttons__figure__img" src="../../../../assets/imgPerfil.png" alt="imgPerfil" >
    </figure>
  </section>

</div>
