<div class="container p-3">

  <div class="eventos__title">
    <h3 class="eventos__title__h3">Lista de Eventos</h3>
  </div>

  <section class="table-responsive pt-3">

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Ver</th>
          <th>Id</th>
          <th>Evento</th>
          <th>Fecha</th>
          <th>Hora</th>
          <th>Tiempo</th>
          <th>Estado</th>
          <th>Asignar</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let evento of eventos">
          <td>
            <button class="eventos__table__ver__button" [routerLink]="['/admin/eventos/evento', evento.id]"><i class="material-symbols-outlined">visibility</i></button>
          </td>
          <td>{{ evento.id }}</td>
          <td>{{ evento.titulo }}</td>
          <td>{{ evento.fecha }}</td>
          <td>{{ evento.inicioHora }}</td>
          <td>{{ evento.duracion }} {{ evento.duracion === 1 ? 'hora' : 'horas'  }}</td>
          <td> <h6 class="eventos__table__estado">{{ evento.estado }}</h6></td>
          <td><button class="eventos__table__asignar__button" [routerLink]="['/admin/eventos/asignarProfesor', evento.id]">Asignar Profesor</button></td>
          <td>
            <div class="capacitadores__table__actions__buttons">
              <button class="capacitadores__table__edit__button" [routerLink]="['/admin/eventos/editar', evento.id]"><i class="material-symbols-outlined">edit</i></button>
              <button class="capacitadores__table__delete__button" (click)="onDeleteEvento( evento.id )"><i class="material-symbols-outlined">delete</i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

