.table{
  vertical-align: middle;
}

.eventos__title__h3{
  color: var(--color-primary);
  font-weight: 500;
}



.eventos__table__ver__button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: #fff;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.eventos__table__ver__button:hover{
  background: var(--color-primary);
}

.eventos__table__asignar__button{
  background-color: var(--color-secondary);
  color: #fff;
  outline: none;
  border: none;
  padding: 10px 20px;
  border-radius: 0.5rem;
  align-self: center;
  margin-left: 2rem;
  transition: ease-in-out 0.3s;
}

.eventos__table__asignar__button:hover{
  opacity: 0.9;
}


.capacitadores__table__actions__buttons{
  display: flex;
  gap: 0.4rem;
}


.capacitadores__table__edit__button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-secondary);
  color: #fff;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.capacitadores__table__edit__button:hover{
  opacity: 0.8;
}


.capacitadores__table__delete__button{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  color: #fff;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 0.5rem;
  transition: ease-in-out 0.3s;
}

.capacitadores__table__delete__button:hover{
  opacity: 0.8;
}


.eventos__table__estado{
  display: flex;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  border-radius: 1rem;
  padding: 0.45rem 0;
}


.estado-confirmado{
  background-color: #32f16e;
}

.estado-rechazado{
  background-color: #f13232;
}

