.confirm__evento{
  height: 100vh;
  width: 100vw;
}


.title__containter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.title__containter__h2{
  color: var(--color-primary);
  font-weight: 600;
}

.title__containter__figure{
  width: 10rem;
}

.title__containter__figure__img{
  width: 100%;
}


.info__evento{
  display: flex;
  height: 90%;
  width: 100%;
}


.info__evento__figure{
  width: 25%;
}

.info__evento__figure__img{
  width: 100%;
  border-radius: 2rem;
}

.info__evento__section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}

.info__evento__section__container{
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
  margin-left: 5rem;
  width: 80%;
}

.info__evento__section__container__data{
  width: 30%;
}

.info__evento__section__container__modify{
  width: 90%;
}

.info__evento__section__container__modify h4{
  color: var(--color-primary);
  text-align: justify;
}

.info__evento__section__container__data  h4{
  color: var(--color-primary);
}

.info__evento__section__container__data p{
  color: var(--color-secondary);
}

.info__evento__section__buttons{
  display: flex;
  align-self: flex-end;
  justify-content: flex-end;
  margin: 2rem auto;
  gap: 2rem;
}


.info__evento__section__buttons__button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 12rem;
  height: 3rem;
  color: #fff;
  border-radius: 1rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.info__evento__section__buttons__button:nth-child(1){
  background: var(--color-secondary);
}

.info__evento__section__buttons__button:nth-child(2){
  background: var(--color-primary)
}

.info__evento__section__buttons__button:hover{
  opacity: 0.9;
}

