
<div class="admin">
  <div class="admin__menuBar">

    <figure class="admin__menuBar__figure">
      <img src="../../../../assets/logo.png" alt="ActualizaTec" class="admin__menuBar__figure__img">
    </figure>

    <h3 class="admin__menuBar__title">Menu</h3>

    <div class="admin__menuBar__buttons">

      <button
        *ngFor="let item of menuItems"
        class="admin__menuBar__button"
        [class.active]="activeRoute === item.route"
        [routerLink]="item.route"
        (click)="activeRoute = item.route"
      >
        <span class="material-symbols-outlined">{{ item.icon }}</span> {{ item.name }}
      </button>

    </div>

    <div class="admin__menuBar__div__exit">
      <a class="admin__menuBar__div__exit__a" [routerLink] = "['/auth/login']"><span class="material-symbols-outlined">logout</span> Cerrar Sesión</a>
    </div>

  </div>

  <div>
    <router-outlet></router-outlet>
  </div>

</div>


