<div class="container p-3">

  <div class="capacitadores__title">
    <h3 class="capacitadores__title__h3">Lista de Capacitadores</h3>
  </div>

  <section class="table-responsive pt-3">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Ver</th>
          <th>Id</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Area de Conocimiento</th>
          <th>Correo Electronico</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let capacitador of capacitadores">
          <td>
            <button class="eventos__table__ver__button" [routerLink]="['/admin/capacitadores/capacitador', capacitador.id]"><i class="material-symbols-outlined">visibility</i></button>
          </td>
          <td>{{ capacitador.id }}</td>
          <td>{{ capacitador.nombreDocente }}</td>
          <td>{{ capacitador.apellidoDocente }}</td>
          <td>{{ capacitador.areas[0].nombreArea }}</td>
          <td>{{ capacitador.correo }}</td>
          <td> <h6 class="capacitadores__table__estado" [ngClass]="{'estado-libre': capacitador?.estado === 'Libre', 'estado-ocupado': capacitador?.estado === 'Ocupado'}">{{ capacitador.estado }}</h6></td>
          <td>
            <div class="capacitadores__table__actions__buttons">
              <button class="capacitadores__table__edit__button" [routerLink]="['/admin/capacitadores/editar', capacitador.id]"><i class="material-symbols-outlined">edit</i></button>
              <button class="capacitadores__table__delete__button" (click)="onDeleteCapacitador( capacitador.id)"><i class="material-symbols-outlined">delete</i></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</div>

