<div class="register">


  <!-- TODO: Falta especificar los tipos de inputs -->
  <form class="register__form">

    <h1 class="register__form__div--1 register__title">Registrarse</h1>

    <figure class="register__form__div--4">
      <img src="./../../../../assets/logo.png" alt="Logo UTPLTEC">
    </figure>

    <div class="register__form__div--2">
      <label for="" class="register__form__label">Nombre</label>
      <input type="text" class="register__form__input">
    </div>

    <div class="register__form__div--3">
      <label for="" class="register__form__label">Apellido</label>
      <input type="text" class="register__form__input">
    </div>


    <div class="register__form__div--5">
      <label for="" class="register__form__label">Nombre de Usuario</label>
      <input type="text" class="register__form__input">
    </div>

    <div class="register__form__div--6">
      <label for="" class="register__form__label">Genero</label>
      <input type="text" class="register__form__input">
    </div>

    <div class="register__form__div--7">
      <label for="" class="register__form__label">Correo Electronico</label>
      <input type="email" class="register__form__input">

    </div>

    <div class="register__form__div--8">
      <label for="" class="register__form__label">Contraseña</label>
      <input type="password" class="register__form__input">
    </div>

    <div class="register__form__div--10">
      <label for="" class="register__form__label">Confirmar Contraseña</label>
      <input type="password" class="register__form__input">
    </div>

    <div class="register__form__div--9">
      <label for="" class="register__form__label">Numero de Telefono</label>
      <input type="text" class="register__form__input">
    </div>

    <div class="register__form__div--11">
      <label for="" class="register__form__label">Fecha de Nacimiento</label>
      <input type="date" class="register__form__input">
    </div>

    <div class="register__form__div--12">
    <button><span class="material-symbols-outlined">close</span>Cancelar</button>
    </div>

    <div class="register__form__div--13">
    <button><span class="material-symbols-outlined">check</span>Confirmar</button>
    </div>

    <div class="register__form__div--14">
    <a [routerLink] = "['/auth/login']">¿Ya Tienes una Cuenta?</a>
    </div>





  </form>

</div>
