<div class="container mod">

  <div class="title__containter">
    <h3 class="title__containter__h3">
      Agregar Evento
    </h3>
    <figure class="title__containter__figure">
      <img class="title__containter__figure__img" src="../../../../../assets/logo.png" alt="Logo ActualizaTEC">
    </figure>
  </div>

  <form class="form__capacit" [formGroup]="eventoForm" (ngSubmit)="onSubmit()">

    <div class="form__capacit__loadImage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png"
        alt="example placeholder" style="width: 200px" />
    </div>

    <div class="form__capacit__inputs">

      <div class="form__capacit__inputs__input">
        <label for="titulo">Titulo</label>
        <input
          id="titulo"
          type="text"
          required
          formControlName="titulo"
        >
        <span *ngIf="isValidField('titulo')" class="form-text text-danger">
            {{ getFieldError('titulo') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="descripcion">Descripción</label>
        <input
          id="descripcion"
          type="text"
          required
          formControlName="descripcion"
        >
        <span *ngIf="isValidField('descripcion')" class="form-text text-danger">
          {{ getFieldError('descripcion') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="duracion">Duración (Horas)</label>
        <input
          id="duracion"
          type="number"
          required
          min="1"
          max="23"
          formControlName="duracion"
        >
        <span *ngIf="isValidField('duracion')" class="form-text text-danger">
          {{ getFieldError('duracion') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="fecha">Fecha</label>
        <input
          id="fecha"
          type="date"
          required
          formControlName="fecha"
        >
        <span *ngIf="isValidField('fecha')" class="form-text text-danger">
          {{ getFieldError('fecha') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="inicioHora">Inicio Hora</label>
        <input
          id="inicioHora"
          type="time"
          required
          formControlName="inicioHora"
        >
        <span *ngIf="isValidField('inicioHora')" class="form-text text-danger">
          {{ getFieldError('inicioHora') }}
        </span>
      </div>


      <div class="form__capacit__inputs__input">
        <label for="area_conocimiento">Area de Conocimiento</label>
        <select
          id="area_conocimiento"
          required
          formControlName="areaConocimiento"
        >
          <option disabled selected>Seleccione Area</option>
          <option
            *ngFor="let area of areas"
            [value]="area.id"
          >{{ area.nombreArea }}</option>
        </select>
        <span *ngIf="isValidField('areaConocimiento')" class="form-text text-danger">
          {{ getFieldError('areaConocimiento') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="modalidad"
            id="radioPresencial"
            value="Presencial"
            formControlName="modalidad"
            [checked]="currentOption === 'Presencial'"
            (change)="onOptionChange('Presencial')"
          >
          <label class="form-check-label" for="radioPresencial">
            Presencial
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="modalidad"
            id="radioVirtual"
            value="Virtual"
            formControlName="modalidad"
            [checked]="currentOption === 'Virtual'"
            (change)="onOptionChange('Virtual')"
          >
          <label class="form-check-label" for="radioVirtual">
            Virtual
          </label>
        </div>
      </div>

    </div>

    <div class="form__capacit__button">
      <button type="submit" >Confirmar</button>
    </div>

  </form>

</div>
