<div class="container mod">

  <div class="title__containter">
    <h3 class="title__containter__h3">
      {{ currentCapacitador.nombreDocente ? 'Editar Capacitador': 'Agregar Capacitador'}}
      <small *ngIf="currentCapacitador.nombreDocente"> - {{ currentCapacitador.nombreDocente}} {{ currentCapacitador.apellidoDocente}}</small>
    </h3>
    <figure class="title__containter__figure">
      <img class="title__containter__figure__img" src="../../../../../assets/logo.png" alt="Logo ActualizaTEC">
    </figure>
  </div>

  <form class="form__capacit" [formGroup]="capacitadorForm" (ngSubmit)="onSubmit()">

    <div class="form__capacit__loadImage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png"
        alt="example placeholder" style="width: 200px" />
    </div>

    <div class="form__capacit__inputs">

      <div class="form__capacit__inputs__input">
        <label for="nombre">Nombre</label>
        <input
          id="nombre"
          type="text"
          required
          formControlName="nombreDocente"
        >
        <span *ngIf="isValidField('nombreDocente')" class="form-text text-danger">
          {{ getFieldError('nombreDocente') }}
      </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="apellido">Apellido</label>
        <input
          id="apellido"
          type="text"
          required
          formControlName="apellidoDocente"
        >
        <span *ngIf="isValidField('apellidoDocente')" class="form-text text-danger">
          {{ getFieldError('apellidoDocente') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="correo">Correo</label>
        <input
          id="correo"
          type="text"
          required
          formControlName="correo"
        >
        <span *ngIf="isValidField('correo')" class="form-text text-danger">
          {{ getFieldError('correo') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="identificacion">Identificación</label>
        <input
          id="identificacion"
          type="text"
          required
          formControlName="identificacion"
        >
        <span *ngIf="isValidField('identificacion')" class="form-text text-danger">
          {{ getFieldError('identificacion') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="carrera">Carrera</label>
        <input
          id="carrera"
          type="text"
          required
          formControlName="carrera"
        >
        <span *ngIf="isValidField('carrera')" class="form-text text-danger">
          {{ getFieldError('carrera') }}
      </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="telefono">Teléfono</label>
        <input
          id="telefono"
          type="text"
          required
          formControlName="telefono"
        >
        <span *ngIf="isValidField('telefono')" class="form-text text-danger">
          {{ getFieldError('telefono') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="area_conocimiento">Area de Conocimiento</label>
        <select
          id="area_conocimiento"
          required
          formControlName="areaConocimiento"
        >
          <option disabled selected>Seleccione Area</option>
          <option
            *ngFor="let area of areas"
            [value]="area.id"
          >{{ area.nombreArea }}</option>
        </select>
        <span *ngIf="isValidField('areaConocimiento')" class="form-text text-danger">
          {{ getFieldError('areaConocimiento') }}
        </span>
      </div>

      <div class="form__capacit__inputs__input">
        <label for="descripcion">Descripción</label>
        <input
          id="descripcion"
          type="text"
          required
          formControlName="descripcion"
        >
      </div>
    </div>

    <div class="form__capacit__button">
      <button type="submit" >Confirmar</button>
    </div>


  </form>


</div>
