

.capacitadores{
  width: 100%;
  height: 90%;
  padding: 20px 40px;
}

.capacitadores__title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.capacitadores__title__h2{
  color: var(--color-primary);
}

.capacitadores__title__figure{
  width: 10rem;
}

.capacitadores__title__figure__img{
  width: 100%;
}


.capacitadores__form{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}


.capacitadores__form__container{
  display: flex;
  justify-content: space-evenly;
  margin-top: 3rem;
}


.capacitadores__form__container__group{
  display: flex;
  flex-direction: column;
  width: 18%;
  justify-content: center;
}


.capacitadores__form__container:nth-child(1){
  margin-top: 0;
}

.capacitadores__form__container__group label{
  color: var(--color-primary);
  font-weight: 500;
  text-align: left;
  font-size: 0.9rem;
}


.capacitadores__form__container__group input{
  display: block;
  width: 100%;
  height: 2rem;
  margin: 0 auto;
  border: none;
  border-bottom: 2px solid #757575;
  outline: none;
  transition: ease 0.4s;
}

.capacitadores__form__container__group input:focus{

  border-bottom: 2px solid var(--color-primary);
}

.capacitadores__form__container__group__button{
  background-color: var(--color-secondary);
  height: 100%;
  color: #fff;
  border-radius: 0.46667rem;
  font-size: 1rem;
  cursor: pointer;
  transition: ease 0.4s;
}

.capacitadores__form__container__group__button:hover{
  opacity: 0.9;
}


