

<div class="container mod">

  <div class="title__containter">
    <h3 class="title__containter__h3">Agregar Capacitador: </h3>
    <figure class="title__containter__figure">
      <img class="title__containter__figure__img" src="../../../../../assets/logo.png" alt="Logo ActualizaTEC">
    </figure>
  </div>

  <form class="form__capacit">

    <div class="form__capacit__loadImage">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png"
        alt="example placeholder" style="width: 200px" />
    </div>

    <div class="form__capacit__inputs">

      <div class="form__capacit__inputs__input">
        <label for="nombre">Nombre</label>
        <input id="nombre" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="apellido">Apellido</label>
        <input id="apellido" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="correo">Correo</label>
        <input id="correo" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="identificacion">Identificación</label>
        <input id="identificacion" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="carrera">Carrera</label>
        <input id="carrera" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="telefono">Teléfono</label>
        <input id="telefono" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="area_conocimiento">Area de Conocimiento</label>
        <input id="area_conocimiento" type="text">
      </div>

      <div class="form__capacit__inputs__input">
        <label for="descripcion">Descripción</label>
        <input id="descripcion" type="text">
      </div>
    </div>

    <div class="form__capacit__button">
      <button>Confirmar</button>
    </div>


  </form>


</div>
