

.background{
  display: grid;
  height: 100vh;
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, var(--color-secondary) 50%);
  align-items: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.child{
  grid-area: 2 / 3 / 7 / 7;

}
