/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --color-primary: #D9006C;
  --color-secondary: #33265e;
}

body{
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'Poppins', sans-serif;
}

figure{
  margin: 0;
}


